<div class="header">
    <div class="header_left">
        <img src="./../../../assets/img/logo.png" alt="">
    </div>

    <div class="header_right">
        <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
        <mat-icon [routerLink]="['..', 'movie']" aria-hidden="false">home</mat-icon>
        <mat-icon [routerLink]="['movie/register']"  aria-hidden="false" aria-label="Example home icon">add_to_photos</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>
        <mat-icon matBadge="15" matBadgeColor="warn">circle_notifications</mat-icon>
    </div>
</div>