@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center-collumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin arround {
    display: flex;
    justify-content: space-around;
}